/* Fishing in Style.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: black;
    background-color: white;
}

img {
    max-width: 100%;
}

h1,  
h4 {
    margin-bottom: 6px;
}
h3 {
    max-height: 5px;
    max-width: 40px;
}

.boxes{
    display: flex;
    size: 36px;
    color: #1f2937;
    font-weight: 900;
    min-height: 400px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background-color: #747a81;
    color: black;
    height: 50px;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: #F9FAF8;
    min-height: 350px;
}

.quote .container {
    display: flex;
    background-color: rgb(170, 197, 248);
    min-height: 200px;
}

.container blockquote {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

blockquote p {
    font-style: italic;
    font-size: 24px;
}

.quote .container cite {
    font-weight: 900;
    align-self: end;
    margin-bottom: 15px;
    margin-right: 50px;
    white-space: nowrap;
}

.foot {
    background-color: white;
    color: black;
    align-items: center;
}

ul {
    list-style-type: none;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%
}

.navbar a {
    text-decoration: none;
    size: 18px;
    color: black;
}

.container .nav {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    padding-right: 25px;
    max-width: fit-content;
}

.header .container img {
    max-width: 600px;
    height: auto;
}

.boxes .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.boxes .profile {
    display: flex;
    gap: 15px;
    justify-content: space-around;
    white-space: nowrap;
}

.container h1 {
    size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    padding-right: 20px;
    margin-right: 20px;
}

.box {
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
}

.header p {
    margin-right: 50px;
}

.end .container {
    display: flex;
    justify-content: space-between;
    min-height: 250px;
    align-items: center;
    margin: auto;
    background-color: seagreen;
}

.container .snark {
    justify-content: flex-start;
    max-width: 300px;
}

.container .but {
    align-self: center;
    justify-content: flex-start;
    white-space: nowrap;
    size: large;
}
.end {
    justify-content: center;
}

.feet{
    display: flex;
    justify-content: center;
    margin: auto;
}

@media(max-width: 768px) {
    .header .container{
        flex-direction: column;
        padding-top: 20px;
        text-align: center;

        .boxes .container {
            display: block;
            text-align: center;
        }
    }
}